body {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #d9d9d9;
    font-family: sans-serif;
    box-shadow: 0px 0px 1px 0px;
}

main {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

header, main section, aside, footer {
    padding: 15px;
    box-sizing: border-box;
}

header {
    background-color: #4484ce;
    color: #ffffff;
    display: flex;
}
header img {
    height: 25vw;
    max-height: 150px;
    border-radius: 50%;
    border: solid #d9d9d9 4px;
    box-shadow: 0 2px 3px 1px rgba(0,0,0,.3);
}
header section {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
header h1, header p {
    margin: 5px 0 0 15px;
}

main section {
    flex: 3;
    min-width: 320px;
    background-color: #ffffff;
}

main article {
    padding: 0 0 10px 0;
    box-sizing: border-box;
}

main aside {
    flex: 1;
    min-width: 200px;
    background-color: #f9cf00;
}
main ul {
    padding: 0 10px 0 15px;
}
main p {
    padding: 0 0 0 0;
    text-align: justify;
}
main li {
    margin: 0 0 5px 0;
}
footer {
    background-color: #d9d9d9;
}