body {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start
}

header, article, aside, footer {
    border: solid black 1px;
    padding: 15px;
    box-sizing: border-box;
}

header {
}

section {
    flex: 3;
}

article {
    min-width: 400px;
}

aside {
    flex: 1;
}

footer {
}